/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/database/factories
/public/concession
/public/objection
/public/image/
/storage/concession
# /razorpay-php
public/Uploads/Property/
public/Uploads/Trade/
public/Uploads/water/
public/Uploads/Water/
public/Uploads/notice/
public/Uploads/User/
public/Uploads/Notice/
public/Uploads/Citizen/
public/Uploads/Custom/

razorpay-php
tests/Feature/
public/public/Property/GeoTagging/
